.section-partners {
  padding-block: 50px;
  .container {
    &-partners {
      @include flex(row, center, center);
      gap: 61px;
      flex-wrap: wrap;

      @include responsive(sm) {
        flex-direction: column;
        gap: 24px;
      }

      .brands {
        &-item {
          display: inline-flex;
          max-width: 186px;
        }
      }
    }
  }
}